<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.fullname %>
  </td>
  <td>
    <a href="#" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-heart-empty"></span> Thêm bạn</a>
  </td>
</tr>
